<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body height="100%" style="padding-bottom: 50px">
        <div style="border-bottom: solid black; height: 55px">
            {% if is_granted('ROLE_USER')%}
                Poštovani {{ app.user.username }}, <br />
                Ova aplikacija će vam pomoći da na jednom mjesto imate svoje kolekcionarske predmete.
            {% else %}
                Poštovani, <br />
                Molimo vas da se logirate.
            {% endif %}
        </div>
        
        <div id="wrapper" style="margin-left: 150px; position: relative">
            <div id="sidebarMenu" style="margin-left: -150px; float: left; width: 150px;">
                {% block sidebarMenu %}
                    gfg
                {% endblock %}
            </div>

            <div id="container" width="100%">
                {% block container %}
                    vjgg
                {% endblock %}
            </div>
            
            <div id="clear" style="width: 100%;"></div>
            
        </div>
        
        <div width="100%" style="border-top: solid black; bottom: 0; height: 55px; position: fixed; width: 100%; background-color: white">hjh
        </div>
    </body>
</html>
